body {
  background: white;
  margin: 0;
}

.dashboard {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
}

.event-time {
  font-size: 12px;
}

.event-title {
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
}

.event-message {
  margin-top: 10px;
}