.container {
  min-height: 100vh;
  background: white;
}

.header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.listaEventos {
  max-width: 900px;
  margin: auto;
  padding: 25px;
}

.card {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
}

.topo {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.action {
  background: #2563eb;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.entity {
  background: #e5e7eb;
  padding: 5px 10px;
  border-radius: 20px;
}

.mensagem {
  font-size: 16px;
  margin-bottom: 15px;
}

.data {
  color: gray;
  font-size: 14px;
}

.semEventos {
  text-align: center;
  justify-content: center;
}